#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.introduction {
    text-align: left;
    margin: 1rem;
}

.skill-container {
    display: flex;
    flex-direction: column;
}


.skill-card {
    margin: 3rem;
    flex: 1;
}

.skill-heading {
    height: 4rem;
}

.skill-explanation {
    text-align: left;
}

.email {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.email:hover {
  border-color: #646cff;
}
.email:focus,
.email:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (min-width: 768px) {
    .introduction {
        margin: 1rem 4rem;
    }
    .skill-container {
        flex-direction: row;
    }
}

.misconception-button {
    display: flex;
    justify-content: space-between;
    width:100%;
}

.misconception-text {
    width:100%;
}

.chevron {
  width: 1.5rem;
  height: 1.5rem;
  transition: transform 0.25s ease;
}

.chevron.open {
  transform: rotate(180deg);
}

@media (prefers-color-scheme: dark) {
  .chevron {
    filter: invert(1);
  }
}


.speed-slider {
    display: flex;
    flex-direction: column;
    width: 15rem;
    border: 1px black solid;
}

.game-controls {
    margin-top: 12px;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    .start-button {
        width: 7rem;
    }
}

