#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.introduction {
    text-align: left;
    margin: 1rem 4rem;
}

.skill-container {
    display: flex;
}

.skill-card {
    margin: 4rem;
}

.skill-heading {
    height: 4rem;
}

.skill-explanation {
    text-align: left;
}

.misconception-button {
    display: flex;
    justify-content: space-between;
    width: 40rem;
}

.misconception-text {
    width: 40rem;
}

.chevron {
  width: 1.5rem;
  height: 1.5rem;
  transition: transform 0.25s ease;
}

.chevron.open {
  transform: rotate(180deg);
}

.speed-slider {
    display: flex;
    flex-direction: column;
    width: 15rem;
    border: 1px black solid;
}

.game-controls {
    margin-top: 12px;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    .start-button {
        width: 7rem;
    }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
